/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.01.2020, 10:39:29
    Author     : glo-agent
*/
.pagination{
    margin-top: .5rem;
}
ul.pagination li {
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0 6px;
}
ul.pagination li:hover{
     border: 1px solid white;
}
a.edit {
    font-size: 30px;
    line-height: 100%;
    color: green;
}
a.delete {
    color: red;
    float: right;
    margin-top: 9px;
}

.line {
    border-bottom: 1px solid #bebebe;
}

.container.line-menu .col-2 {
    padding: 0 !important;
}

.container.line-menu {
    border-bottom: 2px solid #bebebe;
    margin-bottom: 10px;
}

button.btn.btn-primary {
    width: 100%;
}
label.no_text {
    color: #ffffff00;
    opacity: 0;
}

.pre_img {
    max-height: 100px;
    object-fit: contain;
    float: right;
    width: 100px;
}

textarea.form-control {
    height: 500px;
}