/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.01.2020, 10:53:16
    Author     : glo-agent
*/

button.btn.btn-primary {
    width: 100%;
}
.container {
    margin-top: 40px;
}

label.no_text {
    color: #ffffff00;
    opacity: 0;
}

input#captcha {
    width: 220px;
    margin-bottom: 20px;
        border-radius: 0 0 5px 5px;
}
img#cap {
    border-radius: 5px 5px 0 0;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
}

#ref {
    position: absolute;
    top: 0;
    left: 11px;
    mix-blend-mode: color-burn;
    cursor: pointer;
}

#ref:hover {
    transform: scale(1.1);
}

img#cap:hover {
    transform: scale(1.7);
    border-radius: 5px !important;
}